# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment
.env
.venv
env/
venv/
ENV/

# Downloaded images
berlin_platform/
wheelchair_in_station/